* {
    display: block;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: auto;
    scrollbar-width: none;   
}

body {
    padding: 3%;
    padding-bottom: 100px;
}

u {
    color: #0963fd;
}

h3 {
    padding-bottom: 14px;
}

a {
    color: #af6c6c;
}

.usa {
    position: absolute;
    width: 55px;
    left: 0;
    top: 0;
    margin-left: 20px;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    width: 100%;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

.details-active {
    width: 100%;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

.details-inactive {
    width: 100%;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    display: none;
}

.profile-image {
    width: 250px;
    margin: 35px;
}

.profile-links-container {
    margin-top: 10px;
    margin-left: -5px;
}

.profile-link {
    display: inline-block;
    color: #af6c6c;
}

.name {
    font-size: 40px;
}

.blockie {
    display: inline-block;
    height: 60px;
    vertical-align: top;
    margin: 5px;
}

.blockie-text {
    display: inline-block;
    width: 100px;
    font-size: 14px;
    text-align: center;
    overflow-wrap: normal;
    vertical-align: top;
    margin: 5px;
    margin-left: -20px;
}

.navbar-alt {
    background-color: #ffffff;
}

.nav-button {
    color:#000000;
    display: inline-block;
    height: 25px;
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.button-selected {
    color:#c9c9c9;
    display: inline-block;
    height: 25px;
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}