* {
    display: block;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: auto;
    scrollbar-width: none;   
}

body {
    padding: 3%;
}

u {
    color: #0963fd;
}

h3 {
    padding-bottom: 14px;
}

.grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: flex;
    flex-wrap: wrap;
}

.profile {
    width: 100%;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ff0000;
}

.details {
    width: 100%;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ff0000;
}

.profile-image {
    width: 300px;
    max-width: 80%;
    margin: 35px;
}

.name {
    font-size: 40px;
}

.blockie {
    height: 80px;
    vertical-align: top;
    margin: 35px;
}
