* {
    display: block;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: auto;
    scrollbar-width: none;   
}

body {
    padding: 10px;
}

u {
    color: #0963fd;
}

h3 {
    padding-bottom: 14px;
}

.profile-image {
    width: 300px;
    margin: 69px;
}

.name {
    display: inline-block;
}

.blockie {
    height: 69px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: -10px;
}

.executiveSummary {
    max-width: 1000px;
}