* {
    display: block;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: auto;
    scrollbar-width: none;   
}

body {
    padding: 10px;
}

u {
    color: #0963fd;
}

.profile-image {
    width: 300px;
    margin: 69px;
}

.executiveSummary {
    max-width: 1000px;
}